.icon {
    display: inline-block;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    
    // Icon sizes
    &--xxsmall {
        @include size(rem(13));
    }
    &--xsmall {
        @include size(rem(20));
    }
    &--small {
        @include size(rem(28));
    }
    
    
    // Icon images
    &--arrow { 
        background-image: url('./assets/img/icons/icon-arrow.svg'); 
    }
    &--close { 
        background-image: url('./assets/img/icons/icon-close.svg'); 
    }
    &--user {
        background-image: url('./assets/img/icons/icon-user.svg');
    }
    &--contact {
        background-image: url('./assets/img/icons/icon-contact.svg');
    }
    &--contact-2 {
        background-image: url('./assets/img/icons/icon-contact-2.svg');
    }
    &--video {
        background-image: url('./assets/img/icons/icon-video.svg');
    }
    &--search { 
        background-image: url('./assets/img/icons/icon-search.svg');
    }
    &--place { 
        background-image: url('./assets/img/icons/icon-place.svg');
    }
    &--plus { 
        background-image: url('./assets/img/icons/icon-plus.svg');
    }
    &--location { 
        background-image: url('./assets/img/icons/icon-location.svg');
    }
    &--globe { 
        background-image: url('./assets/img/icons/icon-globe.svg');
    }
    &--phone { 
        background-image: url('./assets/img/icons/icon-phone.svg');
    }
    &--checklist { 
        background-image: url('./assets/img/icons/icon-checklist.svg');
    }
    &--check { 
        background-image: url('./assets/img/icons/icon-check.svg');
    }
    &--success { 
        background-image: url('./assets/img/icons/icon-success.svg');
    }
    &--error { 
        background-image: url('./assets/img/icons/icon-error.svg');
    }
    &--paddock-paradise {
        background-image: url('./assets/img/icons/icon-paddock-paradise.svg');
    }
    &--weide {
        background-image: url('./assets/img/icons/icon-weide.svg');
    }
    &--stalling {
        background-image: url('./assets/img/icons/icon-stalling.svg');
    }
    &--facebook {
        background-image: url('./assets/img/icons/icon-facebook.svg');
    }
    &--youtube {
        background-image: url('./assets/img/icons/icon-youtube.svg');
    }
}