.icon {
    display: inline-block;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    
    // Icon sizes
    &--small {
        @include size(rem(28));
    }
    
    
    // Icon images
    &--close { 
        background-image: url('./assets/img/icons/icon-close.svg'); 
    }
    &--user {
        background-image: url('./assets/img/icons/icon-user.svg');
    }
    &--contact {
        background-image: url('./assets/img/icons/icon-contact.svg');
    }
    &--video {
        background-image: url('./assets/img/icons/icon-video.svg');
    }
    &--search { 
        background-image: url('./assets/img/icons/icon-search.svg');
    }
    &--place { 
        background-image: url('./assets/img/icons/icon-place.svg');
    }
    &--plus { 
        background-image: url('./assets/img/icons/icon-plus.svg');
    }
    &--paddock-paradise {
        background-image: url('./assets/img/icons/icon-paddock-paradise.svg');
    }
    &--weide {
        background-image: url('./assets/img/icons/icon-weide.svg');
    }
    &--stalling {
        background-image: url('./assets/img/icons/icon-stalling.svg');
    }
}