@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('./assets/fonts/source-sans-pro-regular.woff2') format('woff2'),
       url('./assets/fonts/source-sans-pro-regular.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('./assets/fonts/source-sans-pro-bold.woff2') format('woff2'),
       url('./assets/fonts/source-sans-pro-bold.woff') format('woff');
}

body {
    font-family: 'Source Sans Pro', Tahoma, Geneva, sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1 {
    font-size: rem(32);
    line-height: 1.25rem;
}
h2 {
    font-size: rem(26);
    line-height: 1.153rem;
}
h3 {
    font-size: rem(22);
    line-height: 1.136rem;
}
h4 {
    font-size: rem(18);
    line-height: 1.111rem;
}

p {
    line-height: 1.25rem;
}

a.text-link {
    color: darken($color-surfcrest, 20%);
    text-decoration: none;
    border-bottom: 1px solid lighten($color-surfcrest, 10%);
    
    transition: color .12s ease-in-out,
                border-bottom .12s ease-in-out;
    
    &:hover {
        color: $color-surfcrest;
        border-bottom: 1px solid lighten($color-surfcrest, 20%);
    }
}