// COLORS
$color-mineshaft: #212121;
$color-alabaster: #fafafa;
$color-surfcrest: #cae4c7;

$color-success: #5cb85c;
$color-error: #d9534f;

// SHADOWS
$shadow-light: 0 1px 10px rgba(0,0,0, 0.06);
$shadow-medium: 0 1px 10px rgba(0,0,0, 0.1);
$shadow-button: 0 2px 2px 0 rgba(0,0,0, 0.15); 
$shadow-card: 0 2px 2px 0 rgba(0,0,0,0.14), 
              0 1px 5px 0 rgba(0,0,0,0.12), 
              0 3px 1px -2px rgba(0,0,0,0.2); 

// SPACINGS
$padding-base: rem(20);
$padding-base-half: calc(#{$padding-base} / 2);
$padding-base-double: calc(#{$padding-base} * 2);

// COLOR CLASSES
$colors:
    (1, $color-mineshaft),
    (2, $color-alabaster),
    (3, $color-surfcrest),
    (4, $color-success),
    (5, $color-error);
            

@each $number, $color in $colors {
    .bg-#{$number} {
        background-color: $color;
    }
    .clr-#{$number} {
        color: $color;
    }
}