.btn {
    width: 100%;
    padding: rem(25);
    margin: $padding-base-half;

    font-size: rem(14);
    text-transform: uppercase;

    border-radius: 2px;
    box-shadow: $shadow-button;
    
    // Button color variations
    &--dark {
        color: #fff;
        background-color: $color-mineshaft;
    }
    &--light { 
        color: $color-mineshaft;
        background-color: #fff; 
    }
    &--success {
        color: #fff;
        background-color: $color-success; 
    }
    &--error { 
        color: #fff;
        background-color: $color-error; 
    }
    
    // Button with icon
    &--icon {
        display: flex;
        align-items: center; 
        
        & .icon {
            width: 25%;
            background-position: 0 50%;
        }
    }
    
    // Form buttons
    &--edit,
    &--prev,
    &--next,
    &--cancel,
    &--save {
        opacity: 0.65;
    }
}