// Form progress
.form-progress {
    margin: 0 $padding-base-half;
    padding: $padding-base-double 0 $padding-base 0;
    
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        position: relative;
        
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            
            position: absolute;
            bottom: 9px;
            left: 0;
            z-index: -1;
            
            background-color: lighten($color-mineshaft, 80%);
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        // cursor: pointer;
    }
    &__label {
        margin-bottom: $padding-base-half;
        
        font-size: rem(12);
        font-weight: 700;
        color: lighten($color-mineshaft, 80%);
        text-transform: uppercase;
        
        &.active {
            color: darken($color-surfcrest, 10%);
        }
    }
    &__circle {
        @include size(rem(20));
        
        color: $color-alabaster;
        border-radius: 50%;
        border: 2px solid $color-alabaster;
        background-color: lighten($color-mineshaft, 80%);
        box-shadow: 0px 0px 0px 1px lighten($color-mineshaft, 80%);
        
        &.active {
            background-color: $color-surfcrest; 
        }
    }
    
    &__buttons{
        display: flex;
        
        & button,
        & a {
            flex: 1;
            text-align: center;
            text-decoration: none;
        }
    }
}

// Form input field
.input-field {
    margin: $padding-base-double $padding-base-half;
    position: relative;
    
    &:before,
    &:after {
        content: '';
        display: block; 
        
        position: absolute;
        bottom: -3px;
        left: 0;
    }
    &:before {
        width: 100%; 
        height: 1px;
        background-color: lighten($color-mineshaft, 65%);
    }
    &:after {
        width: 0;
        height: 3px;
        background-color: $color-surfcrest;
        transition: width 0.25s cubic-bezier(0.455, 0.030, 0.515, 0.955);
    }
    
    &.active {
        &:after {
            width: 100%;    
        }
    }
    
    & input {
        width: 100%;
        padding: $padding-base-half;
        position: relative;

        font-family: 'Source Sans Pro', Tahoma, Geneva, sans-serif;
        font-size: rem(14);
        color: $color-mineshaft;
        border: none;
        border-radius: 2px 2px 0px 0px;
        background-color: #fff;
        outline: none;

        & + label {
            position: absolute;
            top: rem(-5);
            left: $padding-base-half;
            transform: translateY(-100%);

            font-size: rem(12);
            color: lighten($color-mineshaft, 50%);
            cursor: auto;
        }
        
        &.has-error {
            background-color: lighten($color-error, 32.5%);
        }
    }
}
// Time field
.time-field {
    display: inline-block;
    position: relative;
    
    & input {
        font-family: 'Source Sans Pro', Tahoma, Geneva, sans-serif;
        font-size: rem(14);
        color: $color-mineshaft;

        border: none; 
        border-bottom: 1px solid lighten($color-mineshaft, 65%);
        outline: none;
    }
    
    & label {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        font-size: rem(10);
        color: $color-mineshaft;
    }
}
// Radio & checkbox field
.radio-field,
.checkbox-field {
    & input[type=radio],
    & input[type=checkbox] {
        display: inline;
        width: 0;
        margin: 0;
        
        opacity: 0;
        overflow: hidden;
        appearance: none;
       
        &:checked {
            & + label {
                color: lighten($color-mineshaft, 20%);
            }

            & + label:before {
                border-color: darken($color-surfcrest, 10%);
            }

            & + label:after {
                transform: scale(1);
            }
        }
    }
  
    & label {
        display: inline-block;
        width: 100%;
        padding: $padding-base-half rem(27);

        position: relative;  

        font-size: rem(14);
        color: lighten($color-mineshaft, 50%);
        transition: color .15s ease-in-out;
        cursor: pointer;
    
        &:before, 
        &:after {      
            content: '';
            position: absolute;
            border-radius: 50%;
            transition: transform .15s ease-in-out, 
                        border-color .15s ease-in-out;
        } 
        &:before {
            @include size(rem(20));
            top: rem(10);
            left: 0;
            border: 1px solid lighten($color-mineshaft, 70%);
        }
        &:after {
            @include size(rem(14));
            top: rem(13);
            left: rem(3);
            transform: scale(0);
            background-color: darken($color-surfcrest, 10%);
        }

        &:hover {
          color: darken($color-surfcrest, 10%);

          &:before {
            border-color: darken($color-surfcrest, 10%);
          }
        }
    }
}

// Checkbox field specific
.checkbox-field {
    & label {
        &:before {
            border-radius: 1px;
        }
        &:after {
            border-radius: 0;
        }
    }
    
    &__child-input {
        display: inline-flex;
        margin-left: rem(27);
        margin-bottom: $padding-base-half;
        position: relative;
        
        &:before {
            content: '';
            display: block; 
            width: 100%; 
            height: 1px;

            position: absolute;
            bottom: -2px;
            left: 0;
            
            background-color: lighten($color-mineshaft, 65%);
        }
        & input {
            font-family: 'Source Sans Pro', Tahoma, Geneva, sans-serif;
            font-size: rem(14);
            color: $color-mineshaft;
            border: none;
            outline: none;
        }
        & label {
            width: inherit;
            margin-left: $padding-base-half;
            padding: 0;
            
            &:before,
            &:after {
                display: none;
            }
        }
    }
}

// Radio field specific
.radio-field {
    &__child-input {
        width: rem(100);
        padding-right: rem(65);
        font-family: 'Source Sans Pro', Tahoma, Geneva, sans-serif;
        font-size: rem(14);
        color: $color-mineshaft;
        border: none;
        border-bottom: 1px solid lighten($color-mineshaft, 65%);
        outline: none;   
        
        & + span {
            position: absolute;
            top: rem(10);
            transform: translateX(-100%);
        }
    }
}

// Textarea
.textarea-field {
    position: relative;
    
    &:before,
    &:after {
        content: '';
        display: block; 
        
        position: absolute;
        bottom: -1px;
        left: 0;
    }
    &:before {
        width: 100%; 
        height: 1px;
        background-color: lighten($color-mineshaft, 65%);
    }
    &:after {
        width: 0;
        height: 3px;
        background-color: $color-surfcrest;
        transition: width 0.25s cubic-bezier(0.455, 0.030, 0.515, 0.955);
    }
    
    &.active {
        &:after {
            width: 100%;    
        }
    }
    
    & textarea {
        display: block;
        width: 95%;
        height: rem(120);
        margin: 0 auto;
        
        font-family: 'Source Sans Pro', Tahoma, Geneva, sans-serif;
        font-size: rem(14);
        
        border: none;
        outline: none;
        resize: none;
    }
}

// Error message
.input-error-msg {
    position: absolute;
    top: rem(-5);
    right: 0;
    transform: translateY(-100%);
    
    font-size: rem(12);
    color: $color-error;
}
.radio-error-msg {
    display: none;
    padding: $padding-base-half;
    
    position: absolute;
    top: $padding-base-half;
    right: $padding-base-half;
    
    font-size: rem(12);
    color: lighten($color-error, 12.5%);
    background-color: lighten($color-error, 32.5%);
}
.list-subtitle-error {
    position: relative;

    &__msg {
        display: none;
        padding: rem(5);
        
        position: absolute;
        top: 0;
        right: 0;

        font-size: rem(12);
        color: lighten($color-error, 12.5%);
        background-color: lighten($color-error, 32.5%);
    }
}
.file-error-msg {
    display: block;
    padding: $padding-base-half;
    margin: $padding-base-half;

    text-align: center;
    font-size: rem(12);
    color: lighten($color-error, 12.5%);
    background-color: lighten($color-error, 32.5%); 
}