$border-spacing-card: rem(15);
$border-position-card: rem(7);

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    max-width: rem(960);
    margin: 0 auto;
    padding: $padding-base;   
}

.card {
    width: 100%;
    max-width: rem(300);
    height: rem(200);
    margin-bottom: $padding-base;
    
    position: relative;
    overflow: hidden;
    
    background-color: #fff;
    box-shadow: $shadow-card;
    
    cursor: pointer;
    
    &:hover {
        .card__figure__figcaption:before {
            transform: scale(0,1);
        }
        .card__figure__figcaption:after {
            transform: scale(1,0);
        }
        .card__figure__image {
            opacity: 0.85;
            transform: scale(1);
        }
    }
    
    &__figure {
        @include size(100%);
        background-color: $color-mineshaft;
        
        &__image {
            @include size(100%);
            opacity: 0.75;
            transform: scale(1.1);
            transition: opacity $animation-speed-card,
                        transform $animation-speed-card;
            transition-delay: $animation-delay-card;
        }
        
        &__figcaption {
            @include size(100%);
            
            position: absolute;
            top: 0;
            left: 0;

            &:before,
            &:after {
                position: absolute;
                content: '';
                transition: transform $animation-speed-card;
            }
            
            &:before {
                top: $border-spacing-card;
                right: $border-position-card;
                bottom: $border-spacing-card;
                left: $border-position-card;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                transform-origin: 0 0;
            }
            
            &:after {
                top: $border-position-card;
                right: $border-spacing-card;
                bottom: $border-position-card;
                left: $border-spacing-card;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                transform-origin: 100% 0;
                transition-delay: $animation-delay-card;
            }
            
            &__info {
                display: flex;
                align-items: center;
                
                width: calc(100% - #{$border-spacing-card} * 4);
                height: rem(50);
                padding: 0 rem(20);
                
                position: absolute;
                left: 50%;
                bottom: calc(#{$border-spacing-card} * 2);
                transform: translateX(-50%);
                
                background-color: #fff;
                box-shadow: $shadow-button;
                
                &__type {
                    flex: 1 1 25%;
                    @include size(rem(32));
                    background-position: 0 50%;
                }
                &__location {
                    flex: 1 1 75%;
                    
                    font-size: rem(14);
                    line-height: 1rem;
                    text-transform: uppercase;
                }
            }
        } //figcaption
    } //figure
} //card
